
@font-face {
  font-family: Lalezar-Regular;
  src: url(../Lalezar-Font/TTF/Lalezar-Regular.ttf);
}


.app {
  display: flex;
  flex-direction: column;
}
.sign{
  color:  rgb(47, 47, 47);
}
.accordian {
  border-bottom: 0.5px solid rgb(210, 209, 209);
}
.accordian-header {
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;

}
.accordian-body {
  padding: 15px 5px;
  color: #27272a;
}